/* block elements */
.container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.single-event .dmbs-container {
    position: relative;
}

.dmbs-content {
    clear: both;
    margin-bottom: 25px;
}

.next-post {
    margin-bottom: 40px;
}

.next-event {
    text-align: center;
    margin-top: 50px;
}

.next-event a {
    font-size: 18px;
    color: black;
}

.next-event a:hover {
    text-decoration: underline;
}

.evt-post {
    margin-bottom: 100px;
}

.evt-thumbnail {
    padding: 40px 15px 0;
}

.evt-title {
    color: #0779cb;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.evt-content {
    min-height: 180px;
    padding: 0 15px;
    border-left: 1px solid #e3e3e3;
    text-align: left;
}

.evt-content a {
    color: #0779cb;
}

.evt-content a:hover {
    text-decoration: underline;
}

.evt-content p {
    margin-bottom: 1em;
}

.evt-date {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.evt-time {
    display: inline-block;
    font-size: 14px;
}

.register-button a {
    background: #ff6600;
    padding: 7px 15px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.register-button {
    margin: 15px 0px 15px 0px;
}

.evt-post {
    margin-bottom: 100px;
}

 /* text styles */
.page-id-3238 .page-header,
.single-event .page-header {
    text-align: center;
    text-transform: uppercase;
    font-family: 'MavenProBold', sans-serif;
    font-weight: bold;
    font-size: 42px;
    line-height: 1.1;
    margin: 70px 0 10px;
    padding-bottom: 9px;
    border-bottom: 1px solid white;
}

.page-id-3238 h3,
.single-event h3 {
    font-size: 24px;
}

.UPCOMING-EVENTS {
    text-align: center;
    margin: 40px 0 80px;
}

.col-md8-.main-tt p,
.maincon p {
    text-align: center;
}

.maincon,
.maincon p {
    font-size: 18px;
    line-height: 30px;
}

/* pagination */
.pagen {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.pagen .navigation {
    float: none;
}

.pagination {
    width: auto;
}

.pagination span,
.pagination a {
    padding: 6px 4px 5px;
    background-color: #126aa9;
    color: white;
    font-size: smaller;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
}

.pagination span:first-child,
.pagination a:first-child {
    padding-left: 20px;
}
.pagination span:last-child,
.pagination a:last-child {
    padding-right: 20px;
}

/* generic */
.page-id-3238 hr,
.single-event hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
}


/* single post views */
.single-event div[role="main"] {
    width: 100%;
}

.blue-bg {
    background: #0e598f;
    width: 100%;
    margin-top: 6.5%;
    height: 120px;
    left: 0;
    right: 0;
    position: absolute;
}

.col-md-12.main-tt.container {
    margin: auto;
    padding: 20px 0;
    border: 1px solid #a9a6a6;
    background: white;
    box-shadow: 0 0 8px #c0bbbb;
}

.mainevt .attachment-post-thumbnail {
    margin: 0 10px;
}

.col-md-6 {
    padding: 0 15px;
}

.col-md-6.Webinar h1 {
    font-size: 72px;
    color: black;
    margin-top: 11px;
}

h2.page-headerWebinar {
    font-size: 22px;
    font-weight: 400;
    margin: 70px 0 10px;
}

.mainevt p {
    margin-bottom: 10px;
}

.mainevt .register-button a {
    font-size: 17px;
}

.mainevt .register-button a:hover {
    text-decoration: underline;
}
